.reason {
  text-align: center;
  text-transform: uppercase;
  padding: 29px 20px;
}
.reason--blue {
  background-color: #81b3d2;
  color: #ffffff;
  padding-top: 41px;
  padding-bottom: 41px;
}
.reason__title {
  .title();
}
.reason__count, .reason_description {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}
