.review__fieldset {
  border: 0;
  padding: 24px 20px;
}
.review__legend {
  .title();
  text-align: center;
  text-transform: uppercase;
}
.review__label {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}
.review__input {
  .title();
  padding: 14px 20px;
  background-color: #f2f2f2;
  color: #000000;
}
.review__textarea {
  .title();
  padding: 14px 20px;
  background-color: #f2f2f2;
  color: #000000;
}
